{% extends "admin/base.html" %}
{% load static %}

{% block title %}Retoucher Admin{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin-custom/admin.css' %}">
{% endblock %}

{% block branding %}
  <div class="custom-admin-branding">
    <h1 id="site-name">
      <a href="{% url 'admin:index' %}">Retoucher Control Panel</a>
    </h1>
    <div class="custom-admin-subtitle">
      Orders, portfolio, payments and platform management
    </div>
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}